API_ID=123456 # get this value from my.telegram.org
API_HASH=1abcd2efhs93u39 # get this value from my.telegram.org
BOT_TOKEN=1263725637:ghsdvkhsvchsuhdc # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001234567890 # get this value from in your log group 
MUSIC_BOT_NAME=yukki # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
API_ID= 16927110
API_HASH= f52f0a5bec2e8a4ade26ef44578d4171
BOT_TOKEN= 5454857280:AAFdGNrmThBe2aSeCzDD0jWCKP8lxlTEuwg
MONGO_DB_URI= mongodb+srv://Kittuthemeoe:kiranraj@cluster0.mv6oj.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID= -1001661002055
MUSIC_BOT_NAME= Saraku
STRING_SESSION= BQALTzKFHrGALn8scFuP5WG1GBNVmHLbWnrS0byoDyFGhd8iD3NHkt-QMqKosV9U--edMh5o18vKRxsaDAlbfNzyOWOXIf4oDSqkceqLBH8KMvkBG6uCEl7bMwQH5htS6FYH7Dp_ds5OmGhl7bUQ_RtTD3bb-8LWzf1jY-gZjG8pB3kYqUdasBJOpQoMKkjAKuA6tTNbou_GomJDEyRYfSttkps9FSbbZcqp1fnbGqNQJNRsPECGNZR8wOGYmctuHvMDRc_1RAUig5Co-CyFvm3jSDIkjWe0KSVRV88Kr_4739K2vEcvIdPJQglDj0MJHQB6eL8De8YJfW2Y_tXaLxHVAAAAATb7nrEA
DURATION_LIMIT= 300
SONG_DOWNLOAD_DURATION_LIMIT= 300
VIDEO_STREAM_LIMIT= 300
SUPPORT_CHANNEL= https://t.me/marlboro_suport
SUPPORT_GROUP= https://t.me/marlboro_suport
START_IMG_URL= https://telegra.ph/file/f3ed39052ef09bfa37c8d.jpg
OWNER_ID= 5217427121
